*
{
    padding: 0;
    margin: 0;
}
body
{
    width: 100%;
}
.head
{
    width: 90%;
    height: 10%;
    font-size: 40;
    font-style: italic;
    color: rgb(106, 226, 152);
}
.cabecera ul
{
    list-style: none;
}
.cabecera
{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.cabecera ul li
{
    padding-top: 5px;
    float: right;
    margin-right: 10px;
}
.cabecera ul li a
{
    text-decoration: none;
    color: rgb(90, 89, 89);
    font-weight: bold;
    padding: 6px 12px;
    background-color: rgb(226, 222, 222);
    border-radius: 50px;
}
.cabecera ul li a:hover
{
    color: white ;
}

.volver ul {
    list-style: none;
}

.volver {
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.volver ul li {
    float: right;
    margin-left: 10px;
}

.volver ul li a {
    text-decoration: none;
    color: rgb(252, 251, 251);
    font-weight: bold;
    padding: 8px 12px;
    background-color: rgb(112, 93, 93);
    border-radius: 50px;
}

.section
{
    background-image: linear-gradient(rgb(197, 234, 195), white);
    width: 100%;
    height:120%;
}
.article
{

    width: 20%;
    height:100%;
    padding-top: 30px;
    float: left;
}
.aside
{
    width: 80%;
    height: 100%;
    padding-top: 30px;
    font-style: oblique;
    font-size: 22;
    float: right;
}
.accesos
{
    background-image: linear-gradient(white, rgb(197, 195, 195));
}
.beneficio
{
    padding-left: 100px;
    color: green;
    font-size: 45;
}
.contra
{
    color: brown;
    font-size: 45;
}

nav ul li a
{
    text-decoration: none;
    color: rgb(90, 89, 89);
    font-weight: bold;
    padding: 8px 50px;
}
nav ul
{
    list-style: none;
}
nav
{
    background-color: white;
    overflow: hidden;
}
nav ul li
{
    padding-left: 250px;
    margin-right: 10px;
}

.section_c {
    display: flex;
    width: 100%;
    height: 100vh;
}

.down_center {
    /* padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(207, 243, 209), white);
}

.down_right {
    /* padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(189, 190, 245), white);

}
footer
{
    position: absolute;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(rgb(143, 194, 130), white, white);
    padding-top: 30px;
    
    text-align: center;
}


@media only screen and (max-width: 480px) {
    .head
    {
        width: 90%;
        height: 10%;
        font-size: 16;
        font-style: italic;
        color: rgb(106, 226, 152);
    }
    
    .section{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .article
    {
        width: 100%;
        height: 33%;
    
    }
    .accesos{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: left;
    }
    .beneficio{
        padding-left: 1px;
        font-size: 20;
        text-align: left ;
    }
    .contra{
        padding-left: 1px;
        font-size: 20;
    }
}

.section_b {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.up_b {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(241, 235, 235);
    height: 50%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(245, 189, 194), white);
}

.down_b {
    padding-left: 50px;
    padding-right: 50px;
    background-color: blueviolet;
    height: 50%;
    padding-top: 100px;
    background-color: rgb(241, 235, 235);
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: -webkit-linear-gradient(white, rgb(158, 157, 109), white);
}

.up2 {
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(245, 189, 194), white);
}


.box_c{
    padding: 40px;
}

@media only screen and (max-width: 480px) {
    .section{
        flex-direction: column;
    }
    .up2
    {
        width: 100%;
        height: 33%;
        background-color: brown;
    }
    .down_center
    {
        width: 100%;
        height: 33%;
    }
    .down_right
    {
        width: 100%;
        height: 33%;
    }
}

@media only screen and (max-width: 480px) {
    .box_c{
        padding: 20px;
    }
    
    .section_c{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .up2
    {
        width: 100%;
        height: 33%;
        background-color: brown;
    }
    .down_center
    {
        width: 100%;
        height: 33%;
    }
    .down_right
    {
        width: 100%;
        height: 33%;
    }
}