* {
    padding: 0;
    margin: 0;
}

.volver ul {
    list-style: none;
}

.volver {
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.volver ul li {
    float: left;
    margin-left: 50px;
}

.volver ul li a {
    text-decoration: none;
    color: rgb(252, 251, 251);
    font-weight: bold;
    padding: 8px 12px;
    background-color: rgb(112, 93, 93);
    border-radius: 50px;
}





.cabecera ul {
    list-style: none;
}

.cabecera {
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.cabecera ul li {
    float: right;
    margin-right: 10px;
}

.cabecera ul li a {
    text-decoration: none;
    color: rgb(90, 89, 89);
    font-weight: bold;
    padding: 8px 12px;
    background-color: rgb(226, 222, 222);
    border-radius: 50px;
}

.cabecera ul li a:hover {
    color: white;
}

.section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.down_center {
    /* padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(207, 243, 209), white);
}

.down_right {
    /* padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(189, 190, 245), white);

}

.up {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(241, 235, 235);
    height: 50%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(245, 189, 194), white);
}

.up2 {
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px; */
    background-color: rgb(241, 235, 235);
    height: 70%;
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: linear-gradient(white, rgb(245, 189, 194), white);
}

.down {
    padding-left: 50px;
    padding-right: 50px;
    background-color: blueviolet;
    height: 50%;
    padding-top: 100px;
    background-color: rgb(241, 235, 235);
    width: 100%;
    font-size: 20;
    font-style: italic;
    background-image: -webkit-linear-gradient(white, rgb(158, 157, 109), white);
}

footer {
    text-align: center;
    width: 100%;
    height: 2%;
    background-image: linear-gradient(rgb(143, 194, 130), white, white);
    /* padding-left: 45%; */
    padding-top: 30px;
    /* background-image: linear-gradient(); */
}

.box{
    padding: 40px;
}

@media only screen and (max-width: 480px) {
    .box{
        padding: 20px;
    }
    
    .section{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .up2
    {
        width: 100%;
        height: 33%;
        background-color: brown;
    }
    .down_center
    {
        width: 100%;
        height: 33%;
    }
    .down_right
    {
        width: 100%;
        height: 33%;
    }
}